# theos
.DS_Store
/.theos/
/debs/
/obj/
/packages/
#pod
/Pods/
# Xcode
#
dSYM/
build/
*.pbxuser
*.mode1v3
*.mode2v3
*.perspectivev3
xcuserdata
*.xccheckout
*.moved-aside
DerivedData
*.hmap
*.ipa
*.xcuserstate